name: CI with Cache

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-53bab6b

      - name: prime-cache-53bab6b
        run: echo Cache result: ${{ steps.cache-step.outputs.cache-hit }}
